body {
  font-family: "Inter";
  font-size: 35px;
  background-image: url("tabled.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 200px;
  background: goldenrod;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
